$color-one: #fcf8df;
$color-two: #b0dfb3;
$color-three: #f7a036;
$color-four: #a07aac;
$color-five: #efecc9;
$color-six: #7e6f83;
$color-seven: #e15601;

@mixin card() {
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
// $background-color: $color-beta-15;

// // TODO: Deprecate - replace with grid-gutter-width?!
// $grid: 7px;
// $font-size: $grid * 2;
// $line-height: 1.4em;

// $container-max-widths: (sm: 540px, md: 750px, lg: 970px, xl: 1200px) !default;

// $grid-columns: 24 !default;
// $grid-gutter-width: 28px !default;

// $successBordercolor: #5cb85c;
// $infoBordercolor: #6696e9;
// $warningBordercolor: #f0ad4e;
// $errorBordercolor: $color-alpha;
