@import "./vars";

// Use ":global" to avoid CSS Module names generated for/from
// bootstrap classes (i.e. col-sg-5_HASH). We use bootstrap
// directly without CSS Modules
:global {
  // see: https://getbootstrap.com/docs/4.0/getting-started/theming/#sass
  @import "./layout/bootstrap/scss/bootstrap-reboot";
  @import "./layout/bootstrap/scss/bootstrap-grid";
  @import "./layout/bootstrap/scss/utilities";

  html,
  body {
    height: 100%;
  }

  body {
    color: $color-text;
    font-family: "Source Sans Pro", sans-serif;
    background-color: #f2f2f2;
  }

  a {
    color: $color-text;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      cursor: pointer;
      color: $color-text;
      text-decoration: none;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif;

    margin: 0;
    padding: 0;

    line-height: 1;
  }

  input,
  input:active,
  input:focus,
  button,
  button:active,
  button:focus {
    outline: none;
  }

  input,
  button {
    color: $color-text;
  }

  ::-webkit-scrollbar-track {
    background-color: $color-light;
  }

  ::-webkit-scrollbar {
    width: 10px;
    background-color: $color-light;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $color-one;
  }

  #chat-app {
    height: 100%;
  }
}

.AppFrame {
  height: 100vh;
  overflow: hidden;
  // background-color: $color-one;
  padding: 0rem 2rem 1rem 2rem;
  background-color: $color-background;
}

.Header {
  background-color: $color-one;
  height: 4rem;
  margin-bottom: 2rem;
  padding: 0.7rem 0;

  margin-right: -32px;
  margin-left: -32px;

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: $color-light;
    margin-bottom: 0;
  }

  .UserDisplay {
    display: flex;
    align-items: center;

    img {
      max-height: 2.5rem;
      width: 2.5rem;
      margin-right: 0.5rem;
    }

    h3 {
      font-size: 2rem;
      font-weight: normal;
      margin-bottom: 0;
      color: $color-light;
    }
  }
}
.ChannelListRow {
  // Header.height minus Header.margin-Bottom  minus Footer.height
  height: calc(100% - 4rem - 2rem - 1.5rem);
}

.Main {
  overflow-y: auto;
  // height: 100%;
}

.Footer {
  height: 1.5rem;
  border-top: 4px solid $color-one;
  // background-color: $color-one;
  padding-top: 0.6rem;
  text-align: center;
  h3 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 0;
    color: $color-one;
    letter-spacing: 0.5px;

    a {
      color: $color-one;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
