@import "./vars";

.Channel {
  h1 {
    font-size: 1.5rem;
    letter-spacing: 0.5px;
  }
  .Title {
    @include card();
    margin-left: 0.5rem;
    margin-right: -0px;

    color: $color-light;
    background-color: $color-one;

    h1 {
      margin-bottom: 0;
      color: $color-light;
    }
  }

  .Message {
    @include card();
    margin-left: 0.5rem;
    margin-right: 0px;

    .Text {
      font-size: 1.25rem;
    }

    .Date {
      margin-top: 0.5rem;
      font-weight: lighter;
    }
  }

  .Editor {
    @include card();
    margin-left: 0.5rem;
    margin-right: 0px;

    .Form {
      display: flex;
    }
    textarea {
      border: 0;
      border-bottom: 1px solid $color-one;

      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }

    button {
      border: 0;
      cursor: pointer;

      width: auto;
      max-width: none;
      flex: 0 0 auto;
      outline: none;

      &:hover,
      &:active &:focus {
        outline: none;
      }

      // &:hover {
      //   background-color: lighten($color-six, 10%);
      // }

      // &:disabled {
      //   cursor: default;
      //   color: lighten($color-one, 10%);
      //   background-color: lighten($color-six, 10%);
      // }
    }
  }
}
