@import "./vars";

// Use ":global" to avoid CSS Module names generated for/from
// bootstrap classes (i.e. col-sg-5_HASH). We use bootstrap
// directly without CSS Modules
:global {
  // see: https://getbootstrap.com/docs/4.0/getting-started/theming/#sass
  @import "./layout/bootstrap/scss/bootstrap-reboot";
  @import "./layout/bootstrap/scss/bootstrap-grid";
  @import "./layout/bootstrap/scss/utilities";

  body {
    color: $color-four;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f2f2f2;

    height: 100%;
  }

  // .row {
  //   margin-left: 0;
  //   margin-right: 0;
  // }
}

//
.AppFrame {
  height: 100vh;
  overflow: hidden;
  background-color: $color-one;
  padding: 1rem 2rem;
}

.Header {
  background-color: $color-three;
  margin-bottom: 1rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;

  h1 {
    font-size: 2.25rem;
    font-weight: normal;
    color: $color-one;
    margin-bottom: 0;
  }

  h3 {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 0;
    color: $color-one;
  }
}

.Main {
  height: calc(100% - 8.5rem);
}

.Footer {
  background-color: $color-six;
  margin-top: 1rem;
  text-align: center;
  h3 {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 0;
    color: $color-one;
    letter-spacing: 0.5px;

    a {
      color: $color-one;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.Channel {
  h1 {
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    margin-bottom: 0;
  }
  .Title {
    @include card();
    margin-left: 0.5rem;
    margin-right: -10px;

    background-color: $color-six;
    color: $color-one;
  }

  .Message {
    @include card();
    margin-left: 0.5rem;
    margin-right: -10px;

    background-color: $color-five;
    color: $color-six;

    .Date {
      font-weight: lighter;
    }
  }
}
