@import "../_vars";

.Login {
  display: flex;
  width: 100%;
  justify-content: center;

  margin-top: 4rem;
  margin-bottom: 2rem;

  label,
  input {
    width: 100%;
  }

  input {
    margin-bottom: 2rem;
    background-color: white;
  }

  .Form {
    @include card();

    padding: 1.5rem 2rem;

    button {
      // margin-top: 2rem;
      padding: 0.5rem 3rem;
    }
  }
}

.Error {
  margin-top: 1rem;
  font-weight: bold;
}

.Title {
  margin-bottom: 1rem;
  h2 {
    color: var(--color-one);
    font-weight: 500;
    font-size: 85%;
  }
}
