@import "../vars";

// Use ":global" to avoid CSS Module names generated for/from
// bootstrap classes (i.e. col-sg-5_HASH). We use bootstrap
// directly without CSS Modules
:global {
  // see: https://getbootstrap.com/docs/4.0/getting-started/theming/#sass
  @import "../layout/bootstrap/scss/bootstrap-reboot";
  @import "../layout/bootstrap/scss/bootstrap-grid";
  @import "../layout/bootstrap/scss/utilities";

  html,
  body {
    height: 100%;
  }

  body {
    font-family: "Source Sans Pro", sans-serif;
    background-color: #f2f2f2;
  }

  a {
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      cursor: pointer;
      text-decoration: none;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif;

    margin: 0;
    padding: 0;

    line-height: 1;
  }

  input,
  input:active,
  input:focus,
  button,
  button:active,
  button:focus {
    outline: none;
  }

  ::-webkit-scrollbar-track {
    background-color: var(--color-light);
  }

  ::-webkit-scrollbar {
    width: 10px;
    background-color: var(--color-light);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-one);
  }

  #chat-app {
    height: 100%;
  }
}

@mixin set-text-color() {
  color: var(--color-text);
  // background-color: var(--color-background);
  input,
  button {
    color: var(--color-text);
  }
  a {
    color: var(--color-text);

    &:hover,
    &:active,
    &:focus {
      color: var(--color-text);
    }
  }
}

.DefaultTheme {
  --color-one: #fb49a6;
  --color-light: #fff6ea;
  --color-text: #7e6f83;
  --color-text-light: #bdb5c0; // TODO: lighten 20%
  --color-background: #ffdba7;

  @include set-text-color();
}

.ToryBlueTheme {
  --color-one: rgb(13, 100, 157);
  --color-light: rgb(238, 232, 219);
  --color-text: rgb(20, 83, 134);
  --color-text-light: #bdb5c0; // TODO: lighten 20%
  --color-background: rgba(20, 83, 134, 0.185);

  @include set-text-color();
}

:global {
  .DefaultTheme-Icon {
    background-color: #fb49a6;
  }
  .ToryBlueTheme-Icon {
    background-color: rgb(13, 100, 157);
  }

  .RoyalHealthTheme-Icon {
    background-color: rgb(150, 40, 119);
  }

  .EvergladeTheme-Icon {
    background-color: rgb(36, 83, 56);
  }
}

.RoyalHealthTheme {
  --color-one: rgb(150, 40, 119);
  --color-light: rgb(230, 217, 212);
  --color-text: rgb(64, 43, 72);
  --color-text-light: #bdb5c0; // TODO: lighten 20%
  --color-background: rgb(230, 217, 212);

  @include set-text-color();
}

.EvergladeTheme {
  --color-one: rgb(36, 83, 56);
  --color-light: rgb(161, 217, 255);
  --color-text: rgb(36, 83, 56);
  --color-text-light: #bdb5c0; // TODO: lighten 20%
  --color-background: #d3edff;

  @include set-text-color();
}

.AppFrame {
  height: 100vh;
  overflow: hidden;
  padding: 0rem 2rem 1rem 2rem;
  background-color: var(--color-background);
}

.Header {
  background-color: var(--color-one);
  height: 4rem;
  margin-bottom: 2rem;
  padding: 0.7rem 0;

  margin-right: -32px;
  margin-left: -32px;

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--color-light);
    margin-bottom: 0;
  }

  .UserDisplay {
    display: flex;
    align-items: center;

    img {
      max-height: 2.5rem;
      width: 2.5rem;
      margin-right: 0.5rem;
    }

    h3 {
      font-size: 2rem;
      font-weight: normal;
      margin-bottom: 0;
      color: var(--color-light);
    }
  }
}
.ChannelListRow {
  // Header.height minus Header.margin-Bottom  minus Footer.height
  height: calc(100% - 4rem - 2rem - 1.5rem);
}

.Main {
  overflow-y: auto;
  // height: 100%;
}

.Footer {
  height: 1.5rem;
  border-top: 4px solid var(--color-one);
  padding-top: 0.6rem;
  text-align: center;
  h3 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 0;
    color: var(--color-one);
    letter-spacing: 0.5px;

    a {
      color: var(--color-one);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
