@import "../vars";

.Channel {
  .MessagesList {
    overflow-y: auto;
    height: calc(100vh - 15rem);
    margin-bottom: 1rem;
    padding-right: 1rem;
  }

  .Title {
    @include card();
    margin-left: 0.5rem;
    margin-right: -0px;

    color: $color-light;
    background-color: $color-one;

    h1 {
      margin-bottom: 0;
      color: $color-light;
    }
  }

  .Message {
    @include card();
    margin-left: 0.5rem;
    margin-right: 0px;

    .Text {
      font-size: 1.25rem;
    }

    .Date {
      margin-top: 0.5rem;
      font-weight: lighter;
    }
  }

  .Editor {
    @include card();
    margin-left: 0.5rem;
    margin-right: 0px;

    .Form {
      display: flex;
    }
    textarea {
      border: 0;
      border-bottom: 1px solid $color-one;
      background-color: $color-light;

      font-size: 1.25rem;
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;

      margin-right: 1rem;

      &:focus,
      &:active {
        color: $color-text;
      }
    }
  }
}
