@import "../vars";

.ChannelMessageList {
  overflow-y: auto;
  height: calc(100vh - 15rem);
  margin-bottom: 1rem;
  padding-right: 1rem;
}

.ChannelTitle {
  @include card();
  margin-left: 0.5rem;
  margin-right: -0px;

  color: var(--color-light);
  background-color: var(--color-one);

  h1 {
    margin-bottom: 0;
    color: var(--color-light);
  }
}

.Message {
  @include card();
  margin-left: 0.5rem;
  margin-right: 0px;

  .Text {
    font-size: 1.25rem;
  }

  .Date {
    margin-top: 0.5rem;
    font-weight: lighter;

    a {
      color: var(--color-one);
    }
  }
}
