@import "../_vars";
.Button {
  background-color: var(--color-light);
  border: 1px solid var(--color-one);

  padding: 0 0.5rem;
  margin-bottom: 0;

  @include clickable();

  cursor: pointer;

  &:focus,
  &:active {
    color: var(--color-light);
  }

  &:disabled {
    color: --color-text-light;
    cursor: default;
  }
}
