@import "../_vars";
.Button {
  background-color: $color-light;
  border: 1px solid $color-one;

  padding: 0 0.5rem;
  margin-bottom: 0;

  @include clickable();

  cursor: pointer;

  &:focus,
  &:active {
    color: $color-light;
  }

  &:disabled {
    color: lighten($color-text, 20%);
    cursor: default;
  }
}
