@import "../vars";
.ChannelCard {
  margin-left: -13px;
  margin-right: -10px;

  .ChannelCardContent {
    @include card();

    &.active {
      // background-color: var(--color-one);
      background-color: var(--color-one);
      color: var(--color-light);
      cursor: default;
    }

    &:not(.active) {
      @include clickable();

      .latestMessageAbstractDraft {
        color: var(--color-one);
      }
    }

    .latestMessageAbstract {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 1.25rem;

      flex-direction: row;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      .latestMessageAbstractMessage {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // display: flex;
      }
      .latestMessageAbstractDate,
      .latestMessageAbstractDraft {
        flex-shrink: 0;
        text-align: right;
        margin-left: 1rem;
        font-size: 1rem;
        font-weight: lighter;
      }
    }
  }
}
